.formContainer {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin: 2rem auto;
    text-align: center;

    .heading {
        font-size: 2rem;
        margin-bottom: 1.85rem;
        margin-top: 0.2rem;
        line-height: 10px;
        color: black;
        text-align: center;
    }
}



.textFieldSpacing {
    margin-bottom: 1rem;
}

.errorText {
    color: rgb(247, 5, 5);
    font-size: 12px;
    margin: 2px 0 10px 0;
    text-align: left;
    padding-left: 2px;
}

.submitBtn {
    padding: 0.5rem 1rem;
    background-color: #007bc0;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem auto 0 auto;
    display: block;
}

.toggleText {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
    color: black;
}

.toggleText span {
    color: #007bc0;
    cursor: pointer;
    margin-left: 0.3rem;
}